.logo {
  position: relative;
  width: 150px;
  height: 40px;
}

.logo img {
  bottom: 0;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
  height: 100%;
  width: auto;
}

.fixed.menu .logo {
  height: 100%;
}
